.main {
  height: 100vh;
  width: 100vw;

  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 8fr 1fr;

  &__user-information {
    @include rowCenter;
    justify-content: space-around;
    position: relative;
  }

  &__user-options {
    position: absolute;
  }

  &__chats {
    grid-row: 2 / 4;
  }

  &__chat-information {
    @include rowCenter;
    justify-content: space-around;
  }

  &__chat-screen {
  }

  &__keyboard {
    @include rowCenter;
    background-color: rgb(224, 224, 224);
    padding-left: 10px;
    padding-right: 20px;
    gap: 4px;
  }
}

.information__name {
  @include rowCenter;
  justify-content: start;
  height: 100%;
  width: 80%;
  padding-left: 16px;
  gap: 8px;
}

.information__btn-container {
  @include rowCenter;
  justify-content: end;
  height: 100%;
  width: 20%;
}
